################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Sprint1/.vs/Sprint1/v16/Server/sqlite3
/Sprint1/.vs/Sprint1/v16
.vs
/Sprint1/Sprint1/obj/x86/Debug
