################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Sprint0/.vs/Sprint0/v16/Server/sqlite3
